body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

main {
    max-width: 1000px;
    margin: 20px auto;
    padding: 0 20px;
}

div {
    margin-bottom: 10px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.Cartas {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding-left: 20px;
    padding-bottom: 20px;
    margin-top: 20px;
    margin-right: 2%;
    margin-left: 2%;
    width: 25%;
    box-sizing: border-box;
    display: inline-block;
}

.card h2 {
    color: #333;
}
.card:hover {
    transform: scale(1.02);
}

.black-box {
    width: 100px;
    height: 100px;
    background-color: #000;
    margin-bottom: 10px;
}

.Carrito {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 0 10px;
}

.borrarCarrito {
    background-color: transparent;
    color: red;
    border: 1px solid rgba(255, 0, 0, 0.541);
    border-radius: 4px;
}
.borrarCarrito:hover {
    background-color: rgba(255, 0, 0, 0.541);
    color: white;
    border: 1px solid rgba(255, 0, 0, 0.541);
    border-radius: 4px;
}

.verCarrito {
    background-color: #007bff;
    border: 1px solid #007bff;
    border-radius: 4px;
}
.verCarrito:hover {
    background-color: #0056b3;
    border: 1px solid #0056b3;
    border-radius: 4px;
}

.comprarCarrito {
    background-color: green;
    border: 1px solid green;
    border-radius: 4px;
}
.comprarCarrito:hover {
    background-color: darkgreen;
    border: 1px solid green;
    border-radius: 4px;
}

.productosCarrito {
    font-weight: bold;
    margin-right: 10px;
    margin-left: 10px;
}

.volverCargar {
    background-color: transparent;
    color: grey;
    border: 1px solid grey;
    border-radius: 4px;
}
.volverCargar:hover {
    background-color: grey;
    color: white;
    border: 1px solid grey;
    border-radius: 4px;
}